services:
    app:
        image: luzixu/docker-management:latest
        ports:
            - "3000:3000"
        env_file:
            - .env
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./data:/app/data
        restart: unless-stopped
